<div layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools md-tall">
      <h2 class="md-toolbar-tools">
        <span>VideoApp</span>
      </h2>
      <md-button ng-click="vm.toggleSidebar()">
        <md-icon md-font-library="material-icons">settings</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content layout-padding ng-switch="vm.showTiles()">
    <app-video-list-items ng-switch-when="false"></app-video-list-items>
    <app-video-tile-items ng-switch-when="true"></app-video-tile-items>
    <no-video></no-video>
    <pagination items="vm.videos" page-size="vm.settings.pageSize" page="vm.page"></pagination>
</md-content>
</div>
<sidebar></sidebar>
