<md-content class="md-padding" ng-if="vm.videos | isEmpty">
  <md-card>
    <md-card-content>
      <h2 class="md-title">No videos for showing</h2>
      <p>
        Add a couple of videos from youtube.com or vimeo.com and have a fun :)
      </p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="center center">
      <md-button class="md-raised md-primary" ng-click="vm.showAlert()">Add Video</md-button>
    </md-card-actions>
  </md-card>
</md-content>