<div layout="row" flex="grow">
  <div flex>
    <md-button ng-show="pagination.hasPrev()" ng-click="pagination.prev()" class="md-raised">Previous</md-button>
  </div>
  <div>
    <md-button ng-show="pagination.hasNext()" ng-click="pagination.next()" class="md-raised">Next</md-button>
  </div>
</div>
