<div ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{ ::video.title }}</h2>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <embed-player url="{{video.url}}" width="{{ video.width }}" height="{{ video.height }}"></embed-player>
  </md-dialog-content>
</div>