<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">Settings</h1>
  </md-toolbar>
  <md-content layout-padding>
    <md-list>
      <md-list-item ng-click="vm.showAlert()">
        <p>Add new video!</p>
      </md-list-item>

      <md-divider></md-divider>

      <md-list-item>
        <p>Show only liked</p>
        <md-checkbox class="md-secondary" ng-model="vm.settings.onlyLiked"></md-checkbox>
      </md-list-item>

      <md-list-item ng-click="vm.toggleView()">
        <p>{{ vm.toggleButtonLabel() }}</p>
      </md-list-item>
      
      <md-list-item>
        <md-input-container>
          <md-label>Choose elements per page:</md-label>
          <md-select ng-model="vm.settings.pageSize" placeholder="Select items per page">
            <md-option ng-value="opt" ng-repeat="opt in vm.paginationOptions">{{ opt }}</md-option>
          </md-select>
        </md-input-container>
      </md-list-item>

      <md-list-item>
        <md-input-container>
          <md-label>Sort by</md-label>
          <md-select ng-model="vm.settings.sort" placeholder="Sort">
            <md-option ng-value="'creationDate'">Added On ASC</md-option>
            <md-option ng-value="'-creationDate'">Added On DESC</md-option>
          </md-select>
        </md-input-container>
      </md-list-item>

      <md-list-item ng-click="vm.flush()">
        <p>Flush Database</p>
      </md-list-item>
    </md-list>
  </md-content>
</md-sidenav>
