<md-list ng-if="!(vm.videos | isEmpty)">
  <md-list-item class="md-3-line" ng-repeat="item in vm.videos | filter: {starred: vm.settings.onlyLiked } | orderBy:vm.sort() | limitTo:vm.settings.pageSize:vm.offset()"
  ng-click="vm.play(item)">

    <img ng-src="{{ ::item.thumbnail }}" class="md-avatar" alt="{{ ::item.title }}" />

    <div class="md-list-item-text" layout="column">
      <h3>{{ ::item.title }}</h3>
      <h4>Likes: {{ ::item.likes }}</h4>
      <h4>Plays: {{ ::item.plays }}</h4>
      <h4>Added On: {{ ::item.creationDate | date }}</h4>
      <h4>Liked: {{ item.starred }}</h4>
    </div>
    <md-menu md-position-mode="target-right target">
      <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-icon md-font-library="material-icons">menu</md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="vm.toggleLike(item)">
            <div layout="row">
              <p flex>{{ vm.likeButtonLabel(item) }}</p>
            </div>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="vm.remove(item)">
            <div layout="row">
              <p flex>Remove from collection</p>
            </div>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </md-list-item>
</md-list>
