<div ng-if="!(vm.videos | isEmpty)" ng-cloak>
  <div>
    <md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px"
    md-gutter-gt-sm="8px">
      <md-grid-tile ng-click="vm.play(item)" class="gray" md-rowspan="2" md-colspan="2" md-colspan-sm="1" 
        ng-repeat="item in vm.videos | orderBy:vm.sort() | filter: {starred: vm.settings.onlyLiked } | limitTo:vm.settings.pageSize:vm.offset() ">
        <img width="80%" height="60%" ng-src="{{ ::item.thumbnail }}" alt="{{ ::item.title }}" />
        <md-grid-tile-footer>
          <div class="md-second">
            <md-menu md-position-mode="target-right target">
              <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon md-font-library="material-icons">menu</md-icon>
              </md-button>
              <md-menu-content width="4">
                <md-menu-item>
                  <md-button ng-click="vm.toggleLike(item)">
                    <div layout="row">
                      <p flex>{{ vm.likeButtonLabel(item) }}</p>
                    </div>
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="vm.remove(item)">
                    <div layout="row">
                      <p flex>Remove from collection</p>
                    </div>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
            {{ ::item.title }}
          </div>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>
